<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.cursoPG"
    version   = "1.0.0">



<name>Curso PhoneGap</name>

<description>
Proyecto de ejemplo del curso Phongap video2brain
</description>

<author href="https://www.contanimacion.com" email="info@contanimacion.com">
Jorge G. villanueva
</author>


 <preference name="phonegap-version" value="3.1.0" />
 <gap:plugin name="org.apache.cordova.device" />
  
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.media-capture" />
<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="org.apache.cordova.contacts" />
<gap:plugin name="org.apache.cordova.media" />
</widget>
